body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #ffffff;
  padding-top: 40px;
  --bg: #ffffff;
  --fg: #1c1c1c;
  --ig: #ffffff;
}
body:has(#dark:checked) {
  --bg: #1c1c1c;
  --fg: #ffffff;
  --ig: #383838;
}
header {
  display: flex;
  width: 500px;
  margin: auto;
  padding: 10px;
}
#switchmotive {
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 26px;
  font-weight: 700;
  color: #222;
}

form {
  background-color: var(--bg);
  color: var(--fg);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 12px grey;
  width: 500px;
  margin-top: 100px;
  margin: auto;
}

label {
  display: block;
  margin-top: 15px;

  font-size: 16px;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='date'],
input[type='color'],
select {
  background-color: var(--ig);
  color: var(--fg);
  width: 100%;
  height: 40px;
  padding: 8px 8px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type='color'] {
  padding: 4px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}

fieldset {
  margin-top: 15px;
  border: 2px solid gray;
  padding-bottom: 15px;
}
input[type='radio'],
input[type='checkbox'],
input[type='submit'] select {
  cursor: pointer;
}
input[type='submit'] {
  display: block;
  width: 100%;
  background-color: #2fb344;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}
#back {
  width: 100px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
